@import url("./global.css");
@import url("./typography.css");

body {
  display: flex;
  flex-direction: column;
  font-family: "minion-pro", sans-serif;
  background-color: var(--white);
  color: var(--primary);
  width: 100%;
}

.footer {
  height: var(--footer-height);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  height: 100vh;
}

#content {
  background-color: var(--white);
  gap: 4.8rem;
  height: 100%;
  width: 100%;
  padding: 5rem 0 5rem 0;
}

#cover-page {
  background: var(--primary);
  height: calc(100vh - var(--footer-height));
  height: calc(100dvh - var(--footer-height));
}

#cover-page > a {
  text-decoration: none;
  color: var(--white);
}

address {
  font-style: normal;
}

.text-container {
  display: flex;
  width: 87%;
  flex-direction: column;
  gap: 3.2rem;
  text-align: justify;
  width: 80%;
  flex-direction: column;
  font-size: 18px;
}

.description {
  line-height: 24px;
}

/* Desktop style */
@media screen and (min-width: 768px) {
  .description {
    width: 90%;
  }

  .text-container {
    flex-direction: row;
  }

  section {
    padding: unset;
  }

  #content {
    padding: 0 0 5rem 0;
    /* all screen minus padding bottom and footer height */
    height: calc(100vh - var(--footer-height) - 5rem);
    gap: 10rem;
  }
}

/* Desktop screens */
@media screen and (min-width: 1440px) {
  .text-container {
    width: 48%;
  }
}

/* Large desktop screens */
@media screen and (min-width: 1920px) {
  .text-container {
    width: 47%;
  }
}
